<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c] %n    %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/root.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c] %n    %m%n" />
		</layout>
	</appender>

	<appender name="OEP" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/oep.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c] %n    %m%n" />
		</layout>
	</appender>

	<appender name="OPERATE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/operate.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="DAO" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/dao.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] [%c] %n    %m%n" />
		</layout>
	</appender>

	<logger name="com.iss.sdb" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="OEP" />
	</logger>

	<logger name="com.iss.sdb.commons.logs.OperateLogSchedule"
		additivity="false">
		<level value="info" />
		<appender-ref ref="OPERATE" />
	</logger>

	<logger name="com.iss.sdb.oep.dao" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAO" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration> 